.tab {
    border-collapse: collapse;
    width: 100%;

    th {
        text-align: left;
        border-top: $border-under;
        border-bottom: $border-under;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: $bg-black;
    }

    tr {
        text-align: left;
        
    }

    tr:nth-child(even){
        background-color: $bg-secondary;
    }
    
    td {
        padding-top: .5rem;
        padding-bottom: .5rem;
        
    }
    
    
}

