body {
    font-family: $font-stack;
    font-size: .75rem;

    @media screen and (min-width: 600px) {
    font-size: 1rem;
    }
}

h1 {
    margin: 0;
}

.text-light {
    color: #9aa2b3;
    a {
        color: #969eaf;
    }
}

.text-white {
    color: #ffffff;
    a {
        color: #ffffff;
    }
}

.article-header {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    padding-top: .5rem;
    
}

.text-header {
    font-style: italic;
    font-weight: 100;
}

.text-muted {
    color: $bg-primary;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.underlined {
    border-bottom: $border-under;
}

.overlined {
    border-top: $border-under;
}