$content-width: 850px;

// Navigation
$nav-height: 50px;

// Colours
$bg-body: #33393F;
$bg-primary: #1D2023;
$bg-secondary: #292E33;
$border-colour: #404040;
$bg-black: #191B1E;
$header-bg: #1D2023;


$border-under: 1px solid $border-colour;

//Typography
$font-stack: 'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;